<div class="centered-content">
  <div class="white-box">
    <h1 class="title has-text-primary" style="margin-bottom: 20px">LOGIN</h1>

    <p class="help is-danger" *ngIf="emailError">{{ emailError }}</p> <!-- Show email error message -->
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          [ngClass]="{ 'error': isEmailError()}"
          #emailInput
          class="input has-background-light"
          type="email"
          placeholder="Email"
          (input)="checkEmail(emailInput.value)"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>

    <p class="help is-danger" *ngIf="passwordError">{{ passwordError }}</p> <!-- Show password error message -->
    <div class="field">
      <p class="control has-icons-left">
        <input
          [ngClass]="{ 'error': isPasswordError()}"
          #pwInput
          class="input has-background-light"
          type="password"
          placeholder="Password"
          (input)="checkPassword(pwInput.value)"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field" style="display: flex; justify-content: flex-end;">
      <p class="control">
        <button
          class="button is-success has-text-white"
          style="margin: 10px 0 30px 0;"
          (click)="OnLoginButtonClicked(emailInput.value, pwInput.value)"
        >
          Login
        </button>
      </p>
    </div>

    <p>Not got an account? <a routerLink="/signup" class="has-text-primary">Sign up</a> now!</p>

  </div>
</div>
