<div class="centered-content">

    <div class="modal-box">
      <h1 class="title">Edit board</h1>
      <input #listTitleInput
            class="input has-background-white has-text-primary"
            type="text"
            placeholder="Enter board's name"
          />
      
      <div class="buttons is-right" style="margin-top: 20px;">
        <button 
          class="button has-background-light has-text-black" 
          id="cancel-btn" 
          routerLink="/">
          Cancel
        </button>
        <button class="button is-primary has-text-white" (click)="updateList(listTitleInput.value);">Save</button>
      </div>
  
    </div>
  
  </div>
  